/*
    Document   : app/styles/appointment.css
    Created on : 2014-03-24 10:32 AM
    Author     : talymo
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

#appointment .btn-primary {
    background-color:#4D2F15;
    border-color:#4D2F15;
}

    #appointment .btn-primary:hover {
        background-color:#f3f3f3;
        color:#4D2F15;
    }

.responsive-calendar {
    margin-top:30px;
}

.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
}
.responsive-calendar .controls h4 {
  display: inline;
    color:#A1C1BE;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}
.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 14.285714285714286%;
  text-align: center;
}
.responsive-calendar .day a {
  color: #000000;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
}
.responsive-calendar .day a:hover {
  background-color: #eee;
  text-decoration: none;
}
.responsive-calendar .day.header {
  border-bottom: 1px #BCA898 solid;
}
.responsive-calendar .day.active a {
  background-color: #1d86c8;
  color: #ffffff;
}
.responsive-calendar .day.active a:hover {
  background-color: #36a0e2;
}
.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar .day.not-current a {
  color: #ddd;
}
.responsive-calendar .day .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}

.responsive-calendar .day.past a {
    color:#ccc;
    cursor:default;
}

.responsive-calendar .day.past a:hover {
    background-color:transparent;
}

.responsive-calendar .day.today {
    background-color:#DEE8E7;
}

#appointment #appointmentCard {
    background-color:#ffffff;
    padding:20px;
}

    #appointment #appointmentCard h2 {
        text-align:left;
        margin:0;
    }









