.redBorder {
    border:1px solid red;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-image:url('../images/tree_bark.png');
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

    a:focus,
    a:active {
        outline:none;
        border:0;
    }

    .clear {
        height:20px;
        float:left;
        width:100%;
    }

    .container.main {
        padding:0;
    }

    .container.body {
        padding-left:15px;
        padding-right:15px;
        
    }

    .container #home {
        background-color:#F3F3F3;
        border:10px solid #A1C1BE;
        margin-bottom:20px;
    }

    .container #about {
        background-color:transparent;
    }

    .navbar {
        margin-bottom:0px;
        background-color:#fafafa;
        padding-bottom:10px;
    }

        .navbar .nav {
            margin-top:40px;
        }

    .navbar-default {
        border:none;
    }

        .navbar-default .navbar-nav > li > a {
            color: #A1C1BE;
        }

    .navbar-header {
        border:none;
    }

    .navbar-default .navbar-toggle {
        border-color:#A1C1BE;
        margin-bottom:2px;
        margin-top:24px;
    }

        .navbar-default .navbar-toggle:hover {
            background-color:#59554E;
        }

        .navbar-brand img {
            background-color: #FFFFFF;
            border: 1px solid #FFFFFF;
            border-radius: 47px;
            margin-top: -7px;
            padding: 4px;
            position: relative;
            width: 100px;
            z-index: 10000;
            padding-top:0;
        }

        .navbar-brand h2 {
            margin-top:0;
            color:#A1C1BE;
        }

	.nav#social {
        margin-top:0;
    }

		.nav#social li {
            display:inline-block;
        }

		.nav#social img {
            width:35px;
        }

    .carousel .item {
        width: 100%; /*slider width*/
        max-height: 600px; /*slider height*/
       
    }
        .carousel .item img {
            width:100%;
            border-top:none;
            
        }

    /*add some makeup*/
        .carousel .carousel-control {
            background: none;
            border: none;
            top: 50%;
        }

    #callout {
        padding-bottom:10px;
        text-align:center;
    }

    .divider {
        border-bottom: 1px solid #8E887D;
        width:100%;
        display:block;
        height:11px;
        margin-top:30px;
        text-align:center;
        margin-bottom:30px;
    }

    .divider span {
        background-color:#F3F3F3;
        padding:0 20px;
        font-size:14px;
        display:inline-block;
        margin-top:-24px;
        color:#8E887D;
    }

    #callout p {
        font-size:16px;
        color:#59554E;
        padding: 0 30px 20px;
    }
    
    .double-divider {
        border-top:1px solid #8E887D;
        border-bottom:1px solid #8E887D;
        height:5px;
        margin-bottom:30px;
    }

    .container .callout {
        margin-bottom:20px;
        text-align:center;
    }

        .container .callout img{
            border:10px solid #fff;
            margin:0 auto;
        }

        .container .callout h2 {
            font-size:18px;
            color:#8E887D;
            font-weight:400;
            margin-top:10px;
        }

    .container #promo {
        background-color:#F5F5F5;
        padding:10px;
        margin-bottom:20px;
    }

    .container #promo #special {
        border-color:#A1C1BE;
        border-style:dashed;
        border-width:1px;
        overflow:hidden;
        display:table;
        padding:10px;
        margin:0 auto;
    }

        .container #promo #special img {
            background-color: #A1C1BE;
            border: 1px solid #8E887D;
            border-radius: 40px;
            float: left;
            height: 76px;
            margin-right: 26px;
            padding: 6px 20px;
        }

        .container #promo #special h2 {
            font-size:18px;
            color:#8E887D;
            margin:0;
            display: table-cell;
            vertical-align: middle;
        }

        .container #map {
            height:300px;
        }

        .container #tealContainer {
            background-color: #A1C1BE;
            padding: 10px;
            margin-top: 0;
        }

        .container #whiteContainer {
            background-color: #F3F3F3;
            padding: 0px 5px;
            margin:0;
        }

#footer {
    background-color: #f5f5f5;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: auto;
    position: absolute;
    width: 100%;
    text-align:center;
    padding-top:13px;
}

	#footer .container,
	#footer .container a {
        color:#86AAA7;
        font-size:12px;
    }

	#footer .container .pipes {
        display:none;
    }

/*Tablet*/
@media(min-width:768px){
    
    .navbar .nav {
        margin-top:12px;
    }
    
    .nav#social a {
        padding:0;
        padding:15px 5px 0px 0px;
    }
    
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
    
    .navbar-brand img {
        width:125px;
        border-radius:65px;
    }
    
    .container #promo #special h2 {
        font-size:24px;
    }
    
    .nav#social {
        margin-top:9px;
    }
    
        .nav#social img {
            width:20px;
        }
    
    .container #tealContainer {
        padding: 10px;
    }
    
    .container #whiteContainer {
        padding: 24px 25px;
    }
    
   	#footer .container .pipes {
        display:inline-block;
        padding:0 10px;
    }
    
}

@media(min-width:992px){}
@media(min-width:1200px){}

