#whiteContainer {
    position:relative;
}

    #whiteContainer .appointment {
        position:absolute;
        right:-15px;
        top:-15px;
    }

    #tealContainer #whiteContainer .mobile-buttons {
        display: block;  
    }

    #whiteContainer .mobile-buttons .mobile-btn {
        display: block; 
        padding:10px; 
    }

        .mobile-buttons .mobile-btn .full-btn {
           width: 80% 
        }

#tealContainer #whiteContainer .desktop-buttons {
           display: none; 
        }

#whiteContainer .desktop-buttons .desktop-btn {
           padding: 10px;  
        }

#tealContainer .services {
    padding: 15px 10px;
    text-align: center;
}




/*Tablet*/
@media(min-width:768px){
 
        #tealContainer #whiteContainer .mobile-buttons {
            display: none;    
        }
    
        #tealContainer #whiteContainer .desktop-buttons {
           display: block; 
        }
}