<div class="row">
    <div class="col-xs-12" id="callout">
        <span id=aboutDivider class="divider">
            <span>
                ABOUT THE BARKSHACK
            </span>
        </span>
        <div id="contentContainer">
            <div id="innerContainer">
                <p class="largeContent">
                    The Bark Shack is a full service Pet Care Company! Pet Boarding, Daycare, and dog and cat grooming as well as offering pick-up and delivery service in Bluffton.
                </p>
                
                <!-- Carousel, Don't know if this is needed on the about page -->
                <div id="aboutHero">
                    <img class="img-responsive" src="images/dogs-in-bath-at-dogPACER.jpg">   
                </div>
                
                <div id="text">
                    <p>
                     Karen Just is the owner of The Bark Shack in Bluffton,  South Carolina, offering dog and cat grooming services in Beaufort County.  Background on Karen     Karen Just, is a certified pet groomer, a member of the National Dog Groomers Association, and a member of National Association of Creative Pet Groomers.  Karen dreamed of owning a kennel since the age of 9, while living in Chattanooga, TN,  but life, 8 years as a radio announcer, and 20 years in  corporate sales got in the way.     Finally, starting  in 2007, Karen created/owned and sold a profitable kennel, then embarked on her latest and best “ The Bark Shack and The Bark Shack Outdoors.” Karen has two gorgeous girls and one totally adorable grandson!...and three rescue dogs….   
                    </p>
                </div>
                <div id="aboutHero">
                        <img class="img-responsive" src="images/dogs-in-bath-at-dogPACER.jpg">   
                </div>
                <div id="text">
                    <p>
                     The staff at the Barkshack has well over 50 years of combined experience, two additional groomers, certified pet handlers, and  a wacky sense of humor,  Despite our practical jokes on one another, we are very serious about the pets in our care. Pet safety comes first, cleanliness, then fun!    And we have a lot of fun!  We are former members of ABKA, American Boarding and Kennel Association, Pet Grooming Associations, and participate in many local pet rescue activites.
                    </p>
                </div>
            </div>
        </div>       
    </div>    
</div>