<div class="row" id="faqs">
    <div class="col-xs-12" id="tealContainer">
        <div class="row" id="whiteContainer">
            
            <div class="col-xs-12 visible-xs">
                <span class="divider">
                    <span>
                        FAQS
                    </span>
                </span>
            </div> 
            
            <div class="col-xs-12">
                <h2>Here you will find answers our most common questions.</h2>
                <p>Click or tap on the question to show the answer.</p>
            </div>
            
            <!--start the accordians-->
            <div class="col-xs-12 questions">
                <div class="panel-group" id="accordion1">
	                <div class="panel panel-default">
				        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
			                <h4 class="panel-title">
							   May I bring his/her bed and toys while they are boarding?
							</h4>
					    </div>
				        <div id="collapseOne" class="panel-collapse collapse ">
					        <div class="panel-body">
							    Absolutely!  However, please know, we take the beds up during the day while they are at play (except for Geriatric pets). Also, if they are enjoying OPEN boarding, they cannot have their own belongings at all, this causes territorial issues. If you do not bring a bed, we offer kennel beds for them EVERY night, at no extra charge.
						    </div>
					    </div>
					</div>
	              </div>
                
                <div class="panel-group" id="accordion2">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            <h4 class="panel-title">
                                There is a tip line on the credit card receipt. Is it customary to tip for boarding services?
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse ">
                            <div class="panel-body">
                                No, most people do not tip for boarding or daycare.  Customers often do like to tip their groomers or particular staff that spends extra time with their pet. If you choose to offer a tip, simply tell the front desk representative and they will forward your gift to the correct person.
                            </div>
                        </div>
                    </div>
                </div>
	                	
                <div class="panel-group" id="accordion3">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                            <h4 class="panel-title">
                                Is there a charge for pick-up and delivery?
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse ">
                            <div class="panel-body">
                                Yes! When The Bark Shack, LLC first opened in my home, pick-up and delivery was offered at no extra charge. As we have grown, incurred more costs, wages, vehicles, etc., we had to offset that cost with a minimal fee. We charge $9 for pick up (per stop) and $9 for delivery.
                            </div>
                        </div>
                    </div>
                </div>
	                	
                <div class="panel-group" id="accordion4">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">
                            <h4 class="panel-title">
                                Who grooms for The Bark Shack, LLC?
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse ">
                            <div class="panel-body">
                                We grew so quickly In order to help us, we had interns helping with our grooming procedures. In addition, we purchased new vacuuming tools to speed the process. We learned this was not a positive move and have since returned to our original groomers, practices, tools, and procedures. Karen Just (owner) is the main groomer. She is joined by Montana Kelley, also a member of the National Dog Grooming Association.  They are the sole groomers for The Bark Shack, LLC.
                            </div>
                        </div>
                    </div>
                </div>
	                	
                <div class="panel-group" id="accordion5">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive">
                            <h4 class="panel-title">
                                Do we supply the food or does The Bark Shack, LLC.?
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse ">
                            <div class="panel-body">
                                For BOARDING customers, The Bark Shack, LLC offers Pedigree Complete Nutrition Dog Food for all sizes (kibble only). If you prefer, we will be happy to feed this at no extra cost.  You may also bring your own food.  We do have a refrigerator and microwave in order to offer your pet’s meal as you prefer. Since our DAYCARE daily rate is so affordable, we DO NOT have a food allowance figured into this price.  Therefore, if your pet is coming to daycare, please supply his/her own food if you wish for them to eat. We will offer Pedigree for your daycare pup, if you wish, for $1 per meal.  We offer Purina Cat food kibble for visiting feline guests.
                            </div>
                        </div>
                    </div>
                </div>
	                	
                <div class="panel-group" id="accordion6">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion6" href="#collapseSix">
                            <h4 class="panel-title">
                                Will you pick-up or deliver my pet if I am not home?
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse ">
                            <div class="panel-body">
                                You must schedule in advance (as much as possible, but the same day is OK), but we will gladly deliver your pet home (or pick-up) even if you are not there. Our drivers/staff are bonded and your keys/garage codes are kept securely. We can crate them, or not, depending on your practices.  We can also feed them for you.  There is simply a $9 fee for this service. But, oftentimes, it’s a savings, since you will not have to board them an additional night.  And there is nothing better than coming home to your pet’s smiling face!
                            </div>
                        </div>
                    </div>
                </div>
	                	
                <div class="panel-group" id="accordion7">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion7" href="#collapseSeven">
                            <h4 class="panel-title">
                                Does The Bark Shack, LLC offer any discounts?
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse ">
                            <div class="panel-body">
                                Yes!  We offer a $6 multi pet discount, PER NIGHT, for 2nd and 3rd dogs in the same family.  Four pets or more will receive additional discounts.  Also, we offer long term discounts: 10% off for visits 2 weeks or more, 15% for visits up to 3 weeks, 20% for visits of a month or longer.  Guests that stay longer than a consistent month will get additional discounts. There are no discounts for daycare, since our pricing is so remarkably low already!
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>       
    </div>  
  </div>


