<div class="row" id="home">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="active item">
                <img src="http://placekitten.com/1160/500" alt="Slide1" />
            </div>
            <div class="item">
                <img src="http://placekitten.com/1160/500" alt="Slide2" />
            </div>
            <div class="item">
                <img src="http://placekitten.com/1160/500" alt="Slide3" />
            </div>
        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
    </div>   
    
    <div class="col-xs-12" id="callout">
        <span class="divider">
            <span>
                SHORT INTRO
            </span>
        </span>
        <p>
            The staff at the Barkshack has well over 50 years of combined experience, two additional groomers, certified pet handlers, and  a wacky sense of humor,  Despite our practical jokes on one another, we are very serious about the pets in our care. Pet safety comes first, cleanliness, then fun!    And we have a lot of fun!  We are former members of ABKA, American Boarding and Kennel Association, Pet Grooming Associations, and participate in many local pet rescue activites.
        </p>
        <div class="col-xs-12 double-divider"></div>
    </div>
    
    
    
    <div class="col-xs-12 col-sm-4 callout">
        <img src="http://placekitten.com/320/200" class="img-responsive" />
        <h2>
            Grooming Services
        </h2>
    </div>
    
    <div class="col-xs-12 col-sm-4 callout">
        <img src="http://placekitten.com/320/200" class="img-responsive" />
        <h2>
            Boarding Services
        </h2>
    </div>
    
    <div class="col-xs-12 col-sm-4 callout">
        <img src="http://placekitten.com/320/200" class="img-responsive" />
        <h2>
            Daycare Services
        </h2>
    </div>
    
    <div class="col-xs-12" id="promo">
        <div id="special">
            <img src="images/dollar.png" />
            <h2>
                Book 3 days of boarding and get a free Sudsy Bath and nail trim. Limit one offer per fur baby.
            </h2>
        </div>
    </div>
    
    <div id="map" class="col-xs-12">
        
    </div>
    
    
    
</div>
