<div class="row">
    
        <div class="col-xs-12" id="tealContainer">
        
            <div class="row services" id="whiteContainer">
                <div class="appointment">
                    <a href="#/appointment"><img src="images/appointment.png" /></a>
                </div>
                <div class="col-xs-12 visible-xs">
                    <span class="divider">
                        <span>
                            BARKSHACK SERVICES
                        </span>
                    </span>
                </div>
                <h2>
                    The Bark Shack offers Boarding, Grooming, Daycare, and Home Pet Sitting.
                </h2>
                <ul class="nav nav-tabs">
                      <li class="active"><a class="services-tab" href="#boarding" data-toggle="tab">Boarding</a></li>
                      <li><a class="services-tab" href="#grooming" data-toggle="tab">Grooming</a></li>
                      <li><a class="services-tab" href="#additional" data-toggle="tab">Additional</a></li>
                </ul>
               
               <!--Boarding-->
                <div class="tab-content">
                  <div id="boarding" class="tab-pane fade in active">
                       
                      <ul class="dotted">
                        <li>
                            <div class="item">
                                <span>Guest Boarding</span>
                             </div>
                            <div class="prices">
                                <div>
                                    <span>$29</span>
                                 </div>
                             </div>
                            <p>Private room or open boarding, per night.</p>
                        </li>
                        <li>
                            <div class="item">
                                <span>Cat Boarding</span>
                             </div>
                            <div class="prices">
                                <div>
                                    <span>$16</span>
                                 </div>
                             </div>
                            <p>Private room or open boarding, per night.</p>
                        </li>
                        <li>
                            <div class="item">
                                <span>Small Pet Boarding</span>
                             </div>
                            <div class="prices">
                                <div>
                                    <span>$12^</span>
                                 </div>
                             </div>
                            <p>Pricing based on type of animal and care required.</p>
                        </li>
                        <li>
                            <div class="item">
                                <span>Home Visit</span>
                             </div>
                            <div class="prices">
                                <div>
                                    <span>$20</span>
                                 </div>
                             </div>
                            <p>Pet care in your home. Price per visit.</p>
                        </li>  
                        <li>
                           <div class="item">
                               <span>Overnight Home Visit</span>
                           </div>
                           <div class="prices">
                               <div>
                                   <span>$65</span>
                               </div>
                           </div>
                           <p>Overnight pet care in your home. Price per visit.</p>
                       </li>
                    </ul>
                    
                      
                      <img src="http://placekitten.com/g/288/300" class="visible-md" />
                      <img src="http://placekitten.com/g/488/300" class="visible-lg" />
                        
                  </div>
                    
                <!--Grooming-->
                
                  <div ng-controller="groomingCtrl" id="grooming" class="tab-pane fade in">
                       <div class="row" id="accordian">
                           <div class="col-xs-6 dog img-rounded img-responsive" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                             <h2>Dogs</h2>  
                           </div>
                           <div class="col-xs-6 cat img-rounded img-responsive" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                               <h2>Cats</h2>
                           </div>
                       </div>
                           
                           <div class="row"> 
                               <div id="collapseOne" class="panel-collapse collapse col-xs-12 ">
                                   <div class="panel-body">
                                        <div class="row">
                                           <div class="col-xs-12">
                                               <h2>What Breed is your Dog?</h2> 
                                           </div>
                                         </div>
                                         <div class="row">
                                           <div class="col-xs-12">
                                               <h2>(Select Breed)</h2>
                                            </div>
                                         </div>
                                       <div class="row">
                                           <div class="col-xs-12">
                                               <h2>$PRICE</h2>
                                            </div>
                                         </div>
                                   </div>
                               </div>
                           </div>
                         
                    
                    
                        <div class="row"> 
                               <div id="collapseTwo" class="panel-collapse collapse col-xs-12 ">
                                   <div class="panel-body">
                                        <div class="row">
                                           <div class="col-xs-4">
                                               <h2>Baths Only</h2>
                                           </div>
                                           <div class="col-xs-4">
                                               <h1>.......</h1>
                                           </div>
                                           <div class="col-xs-4">
                                               <h2>$15</h2>
                                           </div>
                                       </div>
                                       
                                       <div class="row">
                                           <div class="col-xs-4">
                                               <h2>Flea Dip</h2>
                                           </div>
                                           <div class="col-xs-4">
                                               <h1>.......</h1>
                                           </div>
                                           <div class="col-xs-4">
                                               <h2>$20</h2>
                                           </div>
                                       </div>
                                       
                                       <div class="row">
                                           <div class="col-xs-4">
                                               <h2>Medicated Bath</h2>
                                           </div>
                                           <div class="col-xs-4">
                                               <h1>.......</h1>
                                           </div>
                                           <div class="col-xs-4">
                                               <h2>$20</h2>
                                           </div>
                                       </div>
                                       
                                       <div class="row">
                                           <div class="col-xs-4">
                                               <h2>Nails</h2>
                                           </div>
                                           <div class="col-xs-4">
                                               <h1>.......</h1>
                                           </div>
                                           <div class="col-xs-4">
                                               <h2>$10</h2>
                                           </div>
                                       </div>
                                       
                                       <div class="row">
                                           <div class="col-xs-4">
                                               <h2>Shave or Groom</h2>
                                           </div>
                                           <div class="col-xs-4">
                                               <h1>.......</h1>
                                           </div>
                                           <div class="col-xs-4">
                                               <h2>$50-$60</h2>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                    </div>
                    
                           
                           
                    
                   
                    
                 <!--Additional-->   
                <div id="additional" class="tab-pane fade in">
                  
                      <div class="row">
                           <div class="col-xs-4">
                               <h2>Warm Bath</h2>
                               <p>For Small Doggies.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h2>$15</h2>
                           </div>
                      
                       </div>
                      
                      <div class="row">
                           <div class="col-xs-4">
                               <h2>Warm Bath</h2>
                               <p>For Larger Dogs.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h2>$20</h2>
                           </div>
                       </div>
                      
                      <div class="row">
                           <div class="col-xs-4">
                               <h2>Nail Trim</h2>
                               <p>We will also Dremmel the nails.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h2>$10-$15</h2>
                           </div>
                       </div>
                      
                      <div class="row">
                           <div class="col-xs-4">
                               <h2>Doggy Day Care!</h2>
                               <p>Prices vary for pickups and deliveries!</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h2>$9</h2>
                           </div>
                       </div>
                      
                      <div class="row">
                           <div class="col-xs-4">
                               <h2>Pet Pics!</h2>
                               <p>We will email or text you photos of your babies! Price per 5 pics.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h2>$5</h2>
                           </div>
                       </div>
                    
                    <div class="row">
                           <div class="col-xs-4">
                               <h2>Daily Brushing</h2>
                               <p>We will brush your dog and free them of any tangles or dirt.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h2>$2</h2>
                           </div>
                       </div>
                    
                    <div class="row">
                           <div class="col-xs-4">
                               <h2>Yummy Take-Home Bones</h2>
                               <p>Filled with pork or chicken.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h2>$10</h2>
                           </div>
                       </div>
                    
                    <div class="row">
                           <div class="col-xs-4">
                               <h2>Peanut Butter Bones</h2>
                               <p>Sterilized bones filled with peanut butter.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h2>$8</h2>
                           </div>
                       </div>
                    
                    </div>
             </div>
        </div>       
    </div>
    </div>





    
    

 