<div class="row">
    <div class="col-xs-12" id="callout">
        <span id=aboutDivider class="divider">
            <span>
                ABOUT THE BARKSHACK
            </span>
        </span>
        <div id="contentContainer">
            <div id="innerContainer" class="services">
                <p class="largeContent">
                    The Bark Shack offers Boarding, Grooming, Daycare, and Home Pet Sitting.
                </p>
                
                
                <!--desktop buttons-->
                <div class="btn-group btn-group-justified desktop-buttons">
                  <div id="boarding" class="btn-group desktop-btn">
                    <button type="button" class="btn btn-default"data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Boarding</button>
                  </div>
                  
                  <div id="grooming" class="btn-group desktop-btn">
                    <button type="button" class="btn btn-default"data-toggle="collapse" data-parent="#grooming" href="#collapseTwo">Grooming</button>
                  </div>
                  <div id="additional" class="btn-group desktop-btn">
                    <button type="button" class="btn btn-default"data-toggle="collapse" data-parent="#additional" href="#collapseThree">Additional</button>
                  </div>
               </div>
              
                
               
                
                <!--mobile buttons-->
                <div class="btn-group-vertical mobile-buttons">
                    <div id="boarding" class="btn-group mobile-btn">
                    <button type="button" class="btn-lg btn-default full-btn" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Boarding</button>
                  </div>
                    
                  <div id="grooming" class="btn-group mobile-btn" data-toggle="collapse" data-parent="#grooming" href="#collapseTwo">
                    <button type="button" class="btn-lg btn-default full-btn">Grooming</button>
                  </div>
                  <div id="additional" class="btn-group mobile-btn">
                    <button type="button" class="btn-lg btn-default full-btn" data-toggle="collapse" data-parent="#additional" href="#collapseThree">Additional</button>
                  </div>
                </div>
                
                <!--Content-->
                 <div id="collapseOne" class="panel-collapse collapse">
                  <div class="panel-body">
                       <div class="row">
                           <div class="col-xs-4">
                               <h3>Guest Boarding</h3>
                               <p>Private room or open boarding, Per night.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h3>$29</h3>
                           </div>
                       </div>
                      
                      <div class="row">
                           <div class="col-xs-4">
                               <h3>Cat Boarding</h3>
                               <p>Private room or open boarding, Per night.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h3>$16</h3>
                           </div>
                       </div>
                      
                      <div class="row">
                           <div class="col-xs-4">
                               <h3>Birds, Bunnies and Hamsters</h3>
                               <p>Pricing based on type of animal and care required</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h3>$12 and Up</h3>
                           </div>
                       </div>
                      
                      <div class="row">
                           <div class="col-xs-4">
                               <h3>Home Pet Care</h3>
                               <p>Per Visit</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h3>$20</h3>
                           </div>
                       </div>
                      
                      <div class="row">
                           <div class="col-xs-4">
                               <h3>Overnight Home Pet Care</h3>
                               <p>Per Night</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h3>$65</h3>
                           </div>
                       </div>
                      
                      
                  </div>
                    </div>
                
                    
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                       Grooming
                  </div>
                    </div>
                    
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="row">
                           <div class="col-xs-4">
                               <h3>Warm Bath</h3>
                               <p>For Small Doggies.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h3>$15</h3>
                           </div>
                      
                       </div>
                      
                      <div class="row">
                           <div class="col-xs-4">
                               <h3>Warm Bath</h3>
                               <p>For Larger Dogs.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h3>$20</h3>
                           </div>
                       </div>
                      
                      <div class="row">
                           <div class="col-xs-4">
                               <h3>Nail Trim</h3>
                               <p>We will also Dremmel the nails.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h3>$10-$15</h3>
                           </div>
                       </div>
                      
                      <div class="row">
                           <div class="col-xs-4">
                               <h3>Doggy Day Care!</h3>
                               <p>Prices vary for pickups and deliveries!</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h3>$9</h3>
                           </div>
                       </div>
                      
                      <div class="row">
                           <div class="col-xs-4">
                               <h3>Pet Pics!</h3>
                               <p>We will email or text you photos of your babies! Price per 5 pics.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h3>$5</h3>
                           </div>
                       </div>
                    
                    <div class="row">
                           <div class="col-xs-4">
                               <h3>Daily Brushing</h3>
                               <p>We will email or text you photos of your babies! Price per session.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h3>$2</h3>
                           </div>
                       </div>
                    
                    <div class="row">
                           <div class="col-xs-4">
                               <h3>Yummy Take-Home Bones</h3>
                               <p>Filled with pork or chicken.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h3>$10</h3>
                           </div>
                       </div>
                    
                    <div class="row">
                           <div class="col-xs-4">
                               <h3>Peanut Butter Bones</h3>
                               <p>Sterilized bones filleds with peanut butter.</p>
                           </div>
                           <div class="col-xs-4">
                               <h1>.......</h1>
                           </div>
                           <div class="col-xs-4">
                               <h3>$8</h3>
                           </div>
                       </div>
                    
                    </div>
                
                
            </div>
        </div>       
    </div>    
</div>


